.aside {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: var(--at-z-index-sidebar);
  width: calc(100vw - 64px);
  max-width: 320px;
  opacity: 0;
  box-shadow: var(--at-c-shadow-3);
  overflow-x: hidden;
  overflow-y: auto;
  border-left: 1px solid var(--at-c-divider-light);
  transition:
    opacity 0.5s,
    transform 0.25s ease;
}

.dark .sidebar {
  box-shadow: var(--at-shadow-1);
}

.sidebar.open {
  opacity: 1;
  visibility: visible;
  transform: translateX(0);
  transition:
    opacity 0.25s,
    transform 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}

@media (min-width: 960px) {
  .aside {
    position: sticky;
    top: var(--at-nav-height);
    bottom: auto;
    right: auto;
    grid-column: 3;
    align-self: start;
    z-index: 1;
    height: calc(100vh - var(--at-nav-height));
    padding-bottom: 128px;
    width: 100%;
    max-width: none;
    opacity: 1;
    visibility: visible;
    box-shadow: none;
    transform: translateX(0);
  }
}

@media (max-width: 1350px) {
  .aside {
    display: none !important;
  }
}

.aside .highlight {
  color: var(--at-c-green);
}
