.at-link:hover {
  color: var(--at-c-brand);
  transition: color 0.2s;
}

.at-link {
  display: block;
  font-size: 14px;
  font-weight: 500;

  &.h2-title {
    font-weight: bold;
    font-size: 16px;
  }
}

.at-button {
  display: inline-block;
  border: 1px solid transparent;
  text-align: center;
  font-weight: 500;
  white-space: nowrap;
  transition: color 0.25s, border-color 0.25s, background-color 0.25s;
}

.at-button:active {
  transition: color 0.1s, border-color 0.1s, background-color 0.1s;
}

.at-button.medium {
  border-radius: 20px;
  padding: 0 20px;
  line-height: 38px;
  font-size: 14px;
}

.at-button.big {
  border-radius: 24px;
  padding: 0 24px;
  line-height: 46px;
  font-size: 16px;
}

.at-button.brand {
  border-color: var(--at-button-brand-border);
  color: var(--at-button-brand-text);
  background-color: var(--at-button-brand-bg);
}

.at-button.brand:hover {
  opacity: 1;
  border-color: var(--at-button-brand-hover-border);
  color: var(--at-button-brand-hover-text);
  background-color: var(--at-button-brand-hover-bg);
}

.at-button.brand:active {
  border-color: var(--at-button-brand-active-border);
  color: var(--at-button-brand-active-text);
  background-color: var(--at-button-brand-active-bg);
}

.at-button.alt {
  border-color: var(--at-button-alt-border);
  color: var(--at-button-alt-text);
  background-color: var(--at-button-alt-bg);
}

.at-button.alt:hover {
  border-color: var(--at-button-alt-hover-border);
  color: var(--at-button-alt-hover-text);
  background-color: var(--at-button-alt-hover-bg);
}

.at-button.alt:active {
  border-color: var(--at-button-alt-active-border);
  color: var(--at-button-alt-active-text);
  background-color: var(--at-button-alt-active-bg);
}
